
<button type="submit" (click) = "getTrailBalancePrint()">
    Print
</button>    
<div id = "table" class="row">
    <div class="col-1"></div>
    <div class="col">
        <div class="col-12"  id = "TraialBalancediv">
         <br>
            <h4>Trial Balance for the Year: {{ year }}</h4>
            <hr>
            <table class="table table-hover table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th rowspan="2">GL Subgroup</th>
                        <th rowspan="2">GL Name</th>
                        <th colspan="2">Opening Balance (BHD)</th>
                        <th colspan="2">Current Period (BHD)</th>
                        <th colspan="2">Closing Balance (BHD)</th>
                    </tr>
                    <tr>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of tbData">
                        <td>{{ row.GLSUBGROUP }}</td>
                        <td>{{ row.GLNAME}}</td>
                        <td>{{ row.DR_OPBAL | number:'1.3' }}</td>
                        <td>{{ row.CR_OPBAL | number:'1.3' }}</td>
                        <td>{{ row.DR_BAL | number:'1.3' }}</td>
                        <td>{{ row.CR_BAL | number:'1.3' }}</td>
                        <td>{{ row.DR_NETBAL | number:'1.3' }}</td>
                        <td>{{ row.CR_NETBAL | number:'1.3' }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">TOTAL</th>
                        <th>{{ tbDataTotal.DR_OPBAL | number:'1.3' }}</th>
                        <th>{{ tbDataTotal.CR_OPBAL | number:'1.3' }}</th>
                        <th>{{ tbDataTotal.DR_BAL | number:'1.3' }}</th>
                        <th>{{ tbDataTotal.CR_BAL | number:'1.3' }}</th>
                        <th>{{ tbDataTotal.DR_NETBAL | number:'1.3' }}</th>
                        <th>{{ tbDataTotal.CR_NETBAL | number:'1.3' }}</th>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
    <div class="col"></div>
</div>