<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="col-12">
                <br>
                <br>
                <mat-card style="color: darkblue; background-color:rgb(251, 252, 249);">
                    <mat-card-header>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4">
                                    <mat-card-title> Stock Issue Voucher </mat-card-title>  
                                </div>
                                <div class="col-7">
                                    <mat-card-actions>
                                        <div class="row">
                                            <div class="col">
                                                <button mat-raised-button 
                                                class="bg-primary text-white btn btn-block" 
                                                style="border-radius: 50%;" 
                                                (click)="newForm()">
                                                    <mat-icon>add</mat-icon> New
                                                </button>
                                            </div>
                                            <!-- <div class="col">
                                                <button mat-raised-button 
                                                class="bg-info text-white btn btn-block" 
                                                style="border-radius: 50%;">
                                                    <mat-icon>note_add</mat-icon> Edit 
                                                </button>
                                            </div> -->
                                            <div class="col">
                                                <button mat-raised-button 
                                                class="bg-secondary text-white btn btn-block" 
                                                style="border-radius: 50%;"
                                                (click)="printForm()">
                                                    <mat-icon>print</mat-icon> Print
                                                </button>
                                            </div>
                                            <div class="col">
                                                <button mat-raised-button 
                                                class="bg-success text-white btn btn-block" 
                                                style="border-radius: 50%;" 
                                                (click)="onFormSubmit()">
                                                    <mat-icon>note_add</mat-icon> Submit 
                                                </button>
                                            </div>
                                            <div class="col">
                                                <button mat-raised-button 
                                                class="bg-warning text-white btn btn-block" 
                                                style="border-radius: 50%;">
                                                    <mat-icon>delete</mat-icon> Delete
                                                </button>   
                                            </div>
                                            <div class="col">
                                                <button mat-raised-button 
                                                class="bg-danger text-white btn btn-block" 
                                                style="border-radius: 50%;"
                                                (click)="refreshForm()">
                                                    <mat-icon>cancel</mat-icon> Cancel
                                                </button>
                                            </div>  
                                        </div>
                                    </mat-card-actions>
                                </div>
                            </div>
                        </div>
                    </mat-card-header> 
                    <mat-card-content>
                        <div class="col-12">
                            <form class="form-container"
                            [formGroup]="stockIssueForm">
                                <div class="form-row">
                                    <div class="col-4" 
                                    style="padding: 5px;">
                                        <mat-form-field class="full-width">
                                            <mat-label i18n="@@CMMContactsNameFormControl">Stock Issue Number</mat-label>
                                            <input matInput 
                                            #sivNo formControlName="siRefNo"  
                                            (keydown.f2)="lookUpSiv(sivNo.value)"
                                            (keydown.enter)="searchSiv(sivNo.value)">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4" style="padding: 5px;">
                                        <mat-form-field class="full-width"> 
                                            <mat-label i18n="@@CMMContactsMobileFormControl">Issue Date</mat-label>
                                            <input matInput 
                                            type="text" 
                                            formControlName="siIssueDate" >
                                            <mat-error i18n="@@CMMContactsMobileFormControlError">Issue Date is <strong>required</strong></mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4" style="padding: 5px;">
                                        <mat-form-field class="full-width"> 
                                            <mat-label i18n="@@CMMContactsMobileFormControl">Requisition Nbr</mat-label>
                                            <input matInput
                                            type="text" 
                                            formControlName="siMatReqNbr" 
                                            readonly>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        <mat-form-field class="full-width"> 
                                            <mat-label i18n="@@CMMContactsMobileFormControl">Narration </mat-label>
                                            <input matInput
                                            type="text" 
                                            formControlName="siNarration" >
                                            <mat-error i18n="@@CMMContactsMobileFormControlError">Narration is <strong>required</strong></mat-error>
                                        </mat-form-field>
                                    </div> 
                                </div>              
                                <hr>
                                <div class="form-row">
                                    <div class="col-12" 
                                    style="height: 45vh; overflow-y: auto;" >
                                        <table class="table table-borderless table-hover table-responsive-xxl" 
                                        formArrayName="siItemArray">
                                            <thead>
                                                <tr class="table-reflow" 
                                                style="background-color: rgb(25, 129, 129); color: white;">
                                                    <th style="width: 15%;">Item Code</th>
                                                    <th style="width: 20%;">Description</th>
                                                    <th style="width: 5%;">Location</th>
                                                    <th style="width: 7.5%;">Qty</th>
                                                    <th style="width: 5%">UoM</th>
                                                    <th style="width: 7.5%">Cost Price</th>
                                                    <th style="width: 17.5%">Depatment</th>
                                                    <th style="width: 17.5%">Job</th>
                                                    <th style="width: 5%">Cost Center</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody (keydown.alt.n)="addSIItem()">
                                                <tr #siItem 
                                                *ngFor="let SI of siItems.controls; let i = index;" 
                                                [formGroupName]="i" 
                                                (keydown.alt.x)="deleteSIItem(i)">
                                                    <td>
                                                        <input #itemCode 
                                                        class="form-control form-control-sm" 
                                                        type="text" 
                                                        (keydown.f2)="lookUpProds(itemCode.value,'pcode',i)"
                                                        (change)="checkProduct(itemCode.value,i)"
                                                        formControlName="siItemCode">
                                                    </td>
                                                    <td>
                                                        <textarea #description 
                                                        class="form-control form-control-sm" 
                                                        (keydown.f2)="lookUpProds(description.value,'desc',i)" 
                                                        formControlName="siDesc" type="text"></textarea>
                                                    </td> 
                                                    <td>
                                                        <input class="form-control form-control-sm" 
                                                        type="text" 
                                                        formControlName="siLoc" 
                                                        (keydown.f2)="lookUpLocs(itemCode.value)">
                                                    </td>
                                                    <td>
                                                        <input #siQty 
                                                        class="form-control form-control-sm" 
                                                        type="text" formControlName="siQty" 
                                                        [style.color]="siQty.value > mMaxQty ? 'red' : 'black'">
                                                    </td>                     
                                                    <td>
                                                        <input class="form-control form-control-sm" 
                                                        type="text" 
                                                        formControlName="siUoM">
                                                    </td>
                                                    <td>
                                                        <input class="form-control form-control-sm" 
                                                        type="text" 
                                                        formControlName="siCP">
                                                    </td>
                                                    <td>
                                                        <select class="form-control form-control-sm" 
                                                        id="siDept" 
                                                        formControlName="siDept" 
                                                        (change)="setDept($event)">
                                                           <option *ngFor="let dept of deptArr;" 
                                                           [value]="dept.DEPT_ID" >{{ dept.DEPT_NAME }}</option> 
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input #jobno 
                                                        class="form-control form-control-sm" 
                                                        type="text" 
                                                        formControlName="siJob" 
                                                        (keydown.f2)="lookUpJobs(jobno.value)">
                                                    </td>
                                                    <td>
                                                        <input class="form-control form-control-sm" 
                                                        type="text" 
                                                        formControlName="siCostCtr">
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger" 
                                                        type="button" 
                                                        (click)="deleteSIItem(i)">&#10005;</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-success" 
                                        type="button" 
                                        (click)="addSIItem()">&#43;</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-4">
                                                <mat-form-field class="full-width">
                                                    <mat-label i18n="@@CMMContactsNameFormControl">Issued By</mat-label>
                                                    <input matInput
                                                    formControlName="siIssuedBy">
                                                    <mat-error i18n="@@CMMContactsNameFormControlError">Issued By<strong>required</strong></mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="full-width"> 
                                                    <mat-label i18n="@@CMMContactsMobileFormControl">Received By</mat-label>
                                                    <input matInput
                                                    type="text" 
                                                    formControlName="siRecievedBy" >
                                                    <mat-error i18n="@@CMMContactsMobileFormControlError">Received By<strong>required</strong></mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="full-width"> 
                                                    <mat-label i18n="@@CMMContactsMobileFormControl">Approved By</mat-label>
                                                    <input matInput
                                                    type="text" 
                                                    formControlName="siApprovedBy">
                                                    <mat-error i18n="@@CMMContactsMobileFormControlError">Approved By <strong>required</strong></mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12">
                            <ng-template #prodLookupDialog 
                            style="width: 60%;">
                                <h3 matDialogTitle>
                                    <b>Look up products: {{ prodArr.length }}</b>
                                </h3>
                                <hr>
                                <!-- <mat-form-field >
                                    <input matInput #input
                                    (keyup)="applyFilter($event)" >
                                </mat-form-field> --->
                                <div mat-dialog-content>
                                    <table mat-table 
                                    [dataSource]="prodDataSource" 
                                    class="mat-elevation-z8" 
                                    style="width: 65vw; height: 50vh;">
                                        <ng-container matColumnDef="pcode">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Product Code </th>
                                            <td mat-cell 
                                            *matCellDef="let prod"> {{ prod.PCODE }} </td>
                                        </ng-container>
                                      
                                        <ng-container matColumnDef="desc">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Description </th>
                                            <td mat-cell 
                                            *matCellDef="let prod"> {{ prod.DESCRIPTION }} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="qty">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Quantity </th>
                                            <td mat-cell 
                                            *matCellDef="let prod"> {{ prod.QOH }} </td>
                                        </ng-container>
                                      
                                        <ng-container matColumnDef="unit">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Unit </th>
                                            <td mat-cell 
                                            *matCellDef="let prod"> {{ prod.BASE_UNIT_DESCRIPTION }} </td>
                                        </ng-container>
                                      
                                        <tr mat-header-row 
                                        *matHeaderRowDef="prodDisplayedColumns"></tr>
                                        <tr mat-row 
                                        *matRowDef="let row; columns: prodDisplayedColumns;  let i= index"
                                        [ngClass]="{'highlight': selectedRowIndex == i}"
                                        (click)="highlight('prod',i)"
                                        tabindex="999"
                                        (keydown.arrowdown)="arrowDownEvent('prod',selectedRowIndex)"
                                        (keydown.arrowup)="arrowUpEvent('prod',selectedRowIndex)" 
                                        (keydown.enter)="selectProd(prodArr[selectedRowIndex])"></tr>
                                      
                                        <!-- Row shown when there is no matching data. 
                                        <tr class="mat-row" 
                                        *matNoDataRow>
                                            <td class="mat-cell" 
                                            colspan="4">No data matching the filter "{{input.value}}"</td>
                                        </tr> -->
                                    </table>
                                </div>
                                <mat-dialog-actions align="end">
                                    <button mat-button 
                                    matDialogClose="close">Close</button>
                                </mat-dialog-actions>
                            </ng-template>
                        </div>
                        <div class="col-12">
                            <ng-template #locWiseProdLookupDialog 
                            style="width: 60%;">
                                <h3 matDialogTitle>
                                    <b>Location-wise Product List:</b>
                                </h3>
                                <hr>
                                <div mat-dialog-content>
                                    <table mat-table 
                                    [dataSource]="locsDataSource" 
                                    class="mat-elevation-z8" 
                                    style="width: 65vw; height: 50vh;">
                                        <ng-container matColumnDef="loc">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Location </th>
                                            <td mat-cell 
                                            *matCellDef="let prod"> {{ prod.LOCATION_ID }} - {{ prod.LOCATIONNAME }} </td>
                                        </ng-container>
                                      
                                        <ng-container matColumnDef="opQty">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Opening Quantity </th>
                                            <td mat-cell 
                                            *matCellDef="let prod"> {{ prod.OPENING_QTY }} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="ttlIn">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Total In </th>
                                            <td mat-cell 
                                            *matCellDef="let prod"> {{ prod.TOTAL_IN }} </td>
                                        </ng-container>
                                      
                                        <ng-container matColumnDef="ttlOut">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Total Out </th>
                                            <td mat-cell 
                                            *matCellDef="let prod"> {{ prod.TOTAL_OUT }} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="curQty">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Current Quamtity </th>
                                            <td mat-cell 
                                            *matCellDef="let prod"> {{ prod.CURRENT_QTY }} </td>
                                          </ng-container>

                                          <ng-container matColumnDef="rsvrQty">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Reserved Quantity </th>
                                            <td mat-cell 
                                            *matCellDef="let prod"> {{ prod.RESERVED_QTY }} </td>
                                          </ng-container>
                                      
                                        <tr mat-header-row 
                                        *matHeaderRowDef="locsDisplayedColumns"></tr>
                                        <tr mat-row 
                                        *matRowDef="let row; columns: locsDisplayedColumns;  let i= index"
                                        [ngClass]="{'highlight': selectedRowIndex == i}"
                                        (click)="highlight('locs',i)"
                                        tabindex="999"
                                        (keydown.arrowdown)="arrowDownEvent('locs',selectedRowIndex)"
                                        (keydown.arrowup)="arrowUpEvent('locs',selectedRowIndex)"
                                        (keydown.enter)="selectLoc(locsArr[selectedRowIndex])"></tr>
                                    </table>
                                </div>
                                <mat-dialog-actions align="end">
                                    <button mat-button 
                                    matDialogClose="close">Close</button>
                                </mat-dialog-actions>
                            </ng-template>
                        </div>
                        <div class="col-12">
                            <ng-template #jobsLookupDialog 
                            style="width: 60%;">
                                <h3 matDialogTitle>
                                    <b>Look up Jobs: {{ jobsArr.length }}</b>
                                </h3>
                                <hr>
                                <!-- <mat-form-field >
                                    <input matInput #input
                                    (keyup)="applyFilter($event)" >
                                </mat-form-field> --->
                                <div mat-dialog-content>
                                    <table mat-table 
                                    [dataSource]="jobsDataSource" 
                                    class="mat-elevation-z8" 
                                    style="width: 65vw; height: 50vh;">
                                        <ng-container matColumnDef="orderno">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Order Nbr </th>
                                            <td mat-cell 
                                            *matCellDef="let job"> {{ job.orderno }} </td>
                                        </ng-container>
                                      
                                        <ng-container matColumnDef="jobname">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Job Name </th>
                                            <td mat-cell 
                                            *matCellDef="let job"> {{ job.jobname }} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="jobno">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Job Nbr </th>
                                            <td mat-cell 
                                            *matCellDef="let job"> {{ job.jobno }} </td>
                                        </ng-container>
                                      
                                        <ng-container matColumnDef="glcode">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> GL Code </th>
                                            <td mat-cell 
                                            *matCellDef="let job"> {{ job.glcode }} </td>
                                        </ng-container>
                                      
                                        <tr mat-header-row 
                                        *matHeaderRowDef="jobsDisplayedColumns"></tr>
                                        <tr mat-row 
                                        *matRowDef="let row; columns: jobsDisplayedColumns;  let i= index"
                                        [ngClass]="{'highlight': selectedRowIndex == i}"
                                        (click)="highlight('jobs',i)"
                                        tabindex="999"
                                        (keydown.arrowdown)="arrowDownEvent('jobs',selectedRowIndex)"
                                        (keydown.arrowup)="arrowUpEvent('jobs',selectedRowIndex)" 
                                        (keydown.enter)="selectJob(jobsArr[selectedRowIndex])"></tr>
                                      
                                        <!-- Row shown when there is no matching data. 
                                        <tr class="mat-row" 
                                        *matNoDataRow>
                                            <td class="mat-cell" 
                                            colspan="4">No data matching the filter "{{input.value}}"</td>
                                        </tr> -->
                                    </table>
                                </div>
                                <mat-dialog-actions align="end">
                                    <button mat-button 
                                    matDialogClose="close">Close</button>
                                </mat-dialog-actions>
                            </ng-template>
                        </div>
                        <div class="col-12">
                            <ng-template #sivLookupDialog 
                            style="width: 60%;">
                                <h3 matDialogTitle>
                                    <b>Look up Stock Issue Vouchers: {{ sivArr.length }}</b>
                                </h3>
                                <hr>
                                <!-- <mat-form-field >
                                    <input matInput #input
                                    (keyup)="applyFilter($event)" >
                                </mat-form-field> --->
                                <div mat-dialog-content>
                                    <table mat-table 
                                    [dataSource]="sivDataSource" 
                                    class="mat-elevation-z8" 
                                    style="width: 65vw; height: 50vh;">
                                        <ng-container matColumnDef="trnno">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Transaction Nbr </th>
                                            <td mat-cell 
                                            *matCellDef="let siv"> {{ siv.TRN_NO }} </td>
                                        </ng-container>
                                      
                                        <ng-container matColumnDef="invno">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Invoice Nbr </th>
                                            <td mat-cell 
                                            *matCellDef="let siv"> {{ siv.INV_NO }} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="amount">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Amount </th>
                                            <td mat-cell 
                                            *matCellDef="let siv"> {{ siv.NET_AMOUNT }} </td>
                                        </ng-container>
                                      
                                        <ng-container matColumnDef="lname">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> LName </th>
                                            <td mat-cell 
                                            *matCellDef="let siv"> {{ siv.LNAME }} </td>
                                        </ng-container>
                                          
                                        <ng-container matColumnDef="refno">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Ref Nbr </th>
                                            <td mat-cell 
                                            *matCellDef="let siv"> {{ siv.REF_NO }} </td>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="narration">
                                            <th mat-header-cell 
                                            *matHeaderCellDef> Narration </th>
                                            <td mat-cell 
                                            *matCellDef="let siv"> {{ siv.NARRATION }} </td>
                                        </ng-container>
                                      
                                        <tr mat-header-row 
                                        *matHeaderRowDef="sivDisplayedColumns"></tr>
                                        <tr mat-row 
                                        *matRowDef="let row; columns: sivDisplayedColumns;  let i= index"
                                        [ngClass]="{'highlight': selectedRowIndex == i}"
                                        (click)="highlight('sivs',i)"
                                        tabindex="999"
                                        (keydown.arrowdown)="arrowDownEvent('sivs',selectedRowIndex)"
                                        (keydown.arrowup)="arrowUpEvent('sivs',selectedRowIndex)" 
                                        (keydown.enter)="selectSiv(sivArr[selectedRowIndex])"></tr>
                                      
                                        <!-- Row shown when there is no matching data. 
                                        <tr class="mat-row" 
                                        *matNoDataRow>
                                          <td class="mat-cell" 
                                          colspan="4">No data matching the filter "{{input.value}}"</td>
                                        </tr> -->
                                    </table>
                                </div>
                                <mat-dialog-actions align="end">
                                    <button mat-button 
                                    matDialogClose="close">Close</button>
                                </mat-dialog-actions>
                            </ng-template>
                        </div>
                        <div class="col-12">
                            <ng-template #printSivDialog 
                            style="width: 50vw; height: 75vh;">
                                <app-si-report [trnno]="mSivNo"></app-si-report>
                                <mat-dialog-actions align="end">
                                    <button mat-button 
                                    matDialogClose="close">Close</button>
                                </mat-dialog-actions>
                            </ng-template>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>